@use "../../../../public/styles/lib/functions" as *;
@use "../../../../public/styles/lib/mixins" as *;
@import "../App/App.module.scss";

.Profile {
  display: grid;
  grid-template: [header-left] "prev tabButtons next" auto [header-right]
                 [main-left] "prev tabContent next" 90% [main-right] / 8% auto 8%;
  @extend %section;
  padding-right: 0;
  padding-left: 0;

  &-Title {
    width: 100%;
    text-align: right;
    color: var(--SOCIAL--Color-Text-Main);
  }

  &-TabButtons {
    grid-area: tabButtons;
    @include flex($align-items: center);
    border-bottom: rem(1) solid var(--SOCIAL--Color-Text-System);

    & > * {
      flex: 1 1 auto;
      text-align: center;
      color: var(--SOCIAL--Color-Text-System);
      cursor: pointer;

      &[data-active="true"] {
        color: var(--SOCIAL--Color-Text-Main);
      }
    }
  }

  &-Container {
    grid-area: tabContent;
    @include flex($direction: column);
    padding-bottom: rem(5);
    position: relative;
  }

  &-ChangeLayoutButtonsLeft {
    grid-area: prev;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--SOCIAL--Color-Text-System);
  }
  &-ChangeLayoutButtonsRight {
    grid-area: next;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--SOCIAL--Color-Text-System);
  }
}
