@import '../../../public/styles/lib/functions';
@import '../../../public/styles/lib/mixins';


.AreaInput {
  height: fit-content;

  &-Input {
    @include placeholderColor(var(--Color-Text--disabled));

    width: inherit;
    height: fit-content;
    padding: rem(12) rem(16);

    border-width: rem(1);
    border-style: solid;
    border-color: var(--Color-OldAsphalt--50);
    border-radius: rem(8);

    &--error {
      border-color: var(--Color-RedRose--50);
    }

    &--size {

      &_small {
        font-size: rem(14);
        line-height: rem(20);
      }
    }

    &:empty {
      border-color: var(--Color-OldAsphalt--30);
    }


    &:focus {
      border-color: var(--Color-BluePrimrose--50);
      outline: none;
    }

    &:disabled {
      border-color: var(--Color-OldAsphalt--30);
      background: var(--Color-OldAsphalt--10);
    }
  }
}
