@use "../../../../public/styles/lib/functions" as *;
@use "../../../../public/styles/lib/mixins" as *;
@import "../App/App.module.scss";

.Profile {
  @include flex($direction: column);
  height: 100vh;

  &-Title {
    width: 100%;
    text-align: right;
    color: var(--SOCIAL--Color-Text-Main);
  }

  &-TabButtons {
    @include flex();
    padding: rem(30) 0;
    margin-bottom: rem(30);
    border-bottom: rem(1) solid var(--SOCIAL--Color-Text-System);

    & > * {
      flex: 1 1 auto;
      text-align: center;
      color: var(--SOCIAL--Color-Text-System);
      cursor: pointer;

      &[data-active="true"] {
        color: var(--SOCIAL--Color-Text-Main);
      }
    }
  }

  &-Container {
    @include flex($direction: column);
    margin-top: clamp(1px, 1vh, rem(20));
    height: 80vh;
  }

}
