@use "src/client/public/styles/lib/functions" as *;
@use "src/client/public/styles/lib/mixins";

.SignInForm {
  @include mixins.flex($wrap: wrap, $justify:center);
  height: rem(150);
  overflow-y: auto;

  &-SubmitButton {
    margin: rem(20) 0 rem(5) 0;
  }
}
