@use "../../../../public/styles/lib/functions" as *;
@use "../../../../public/styles/lib/mixins" as *;
@import "../App/App.module";

$photoSize: clamp(100px, 18vw, rem(250));
$zIndexSection: 4;

.UserMenu {
  @include flex($direction: column);
  background: var(--SOCIAL--Background-Card-Opacity);
  border-radius: $borderRadiusCard;
  height: 100vh;
  position: relative;

  &-Main {
    @include flex($align-items: center, $direction: column);
    z-index: $zIndexSection;
    background: var(--SOCIAL--Background-Card);
    opacity: 1;
    box-shadow: 0 rem(-4) rem(4) var(--SOCIAL--Color-Text-System);
  }

  &-Photo {
    @include flex($justify: center, $align-items: center);
    @include wh($photoSize, $photoSize);
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  &-UserFIO {
    @include flex(wrap);
    padding: $componentPadding;
  }

  &-UserName {
    color: var(--SOCIAL--Color-Text-Main);
  }

  &-Column {
    @include flex($direction: column);
    width: 100%;
  }

  &-Row {
    @include flex($justify: space-between);
    padding: $componentPadding;
  }

  &-Hash {
    color: var(--SOCIAL--Color-Text-System);
    padding: $componentPadding;
  }

  &-Description {
    color: var(--SOCIAL--Color-Text-Main);
    padding: $componentPadding;
    max-height: 20vh;
    overflow-y: auto;
  }

  &-VisitsCount {
    color: var(--SOCIAL--Color-Text-System);
    margin-left: rem(5);
  }

  &-Gap {
    width: 100%;
    background: var(--SOCIAL--Background-Card);
    z-index: $zIndexSection;
  }

  &-Button {
  }

  &-ButtonIcon {
    fill: var(--SOCIAL--Color-Text-System);
    margin-right: rem(10);
  }

  &-ButtonText {
    @include flex($align-items: center);
    margin-left: rem(5);
    color: var(--SOCIAL--Color-Text-System);
    cursor: pointer;
  }
}
