@use 'src/client/public/styles/lib/functions' as *;
@use 'src/client/public/styles/lib/mixins';

.Application {
  @include mixins.flex($direction: column);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}
