@use 'src/client/public/styles/lib/functions' as *;
@use 'src/client/public/styles/lib/mixins' as * ;

$sectionPadding: 0 clamp(0px, 8vw, 15vw);
$componentPadding: clamp(2px, 1vh, rem(15)) clamp(2px, 2vw, rem(15));
$borderRadiusCard: rem(5);

.Application {
  @include wh(100vw, 100vh);
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap: clamp(1px, 7vw, rem(200));

  @include media-768 {
    gap: clamp(1px, 1vw, rem(20));
  }
}
