@use "../../../../public/styles/lib/functions" as *;
@use "../../../../public/styles/lib/mixins" as *;
@import "../App/App.module.scss";

.Login {
  @include wh(100vw, 100vh);

  &-Section {
    @include flex($justify: center, $align-items: center, $direction: column);
    @include wh(100%, 100%);
    padding-bottom: 10%;
  }

  &-ThumbRow {
    @include flex($justify: center);
    margin: rem(40) 0;
  }

  &-SwiperContainer {
    padding: rem(30) rem(30) rem(10) rem(30);
    width: rem(500);
    position: relative;

    & > * {
      width: 80%;
      height: auto;
    }
  }

  &-Thumb {
    padding: rem(5) rem(50);
    transition: .5s;

    &--activeSlide {
      text-shadow: 0 0 rem(5) var(--Color-Light--90);
      transition: .5s;
    }
  }

  &-Item {
    width: 100%;
  }

  &-ButtonsRow {
    left: -25%;
    width: 150%;
    display: flex;
    position: absolute;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &-Button {
    user-select: none;
    cursor: pointer;

    &--disabled :where(svg) {
      fill: var(--Color-Text--disabled);
      opacity: .1;
      cursor: default;
    }
  }
}
