@use "../../../../public/styles/lib/functions" as *;
@use "../../../../public/styles/lib/mixins" as *;
@import "../App/App.module.scss";

.UserContent {
  @include flex($direction: column);
  flex: 1 1 auto;
  max-height: 100%;
  margin-left: rem(20);
  padding: rem(20);
  border-radius: $borderRadiusCard;

  &-Title {
    width: 100%;
    text-align: right;
    color: var(--SOCIAL--Color-Text-Main);
  }

  &-TabButtons {
    @include flex();
    padding: rem(10) 0;

    & > * {
      flex: 1 1 auto;
      text-align: center;
      color: var(--SOCIAL--Color-Text-System);
      cursor: pointer;

      &[data-active="true"] {
        color: var(--SOCIAL--Color-Text-Main);
      }
    }
  }

  &-FiltersContainer {
    @include flex();
    width: 100%;
    margin: rem(10) 0;
  }

  &-FiltersRow {
    width: 100%;
  }

  &-FiltersSwitcher {
    @include flex();
  }

  &-RadioInput {
    display: none;

    &:checked + label {
      background: #536989;
    }
  }

  &-RadioLabel {
    padding: rem(3) rem(14);
    color: white;
    background: #7d8ecd;

    cursor: pointer;
    transition: .5s;

    &:not(:last-of-type) {
      border-right: rem(1) solid transparent;
    }
  }

  &-Container {
    @include flex($wrap: wrap, $justify: space-between, $align-content: flex-start);
    flex: 1 1 100%;
    overflow-y: auto;
    padding: rem(10) 0;
  }
}
