@use "../../../../public/styles/lib/functions" as *;
@use "../../../../public/styles/lib/mixins" as *;
@import "../App/App.module.scss";

.UserContent {
  @include flex($direction: column);
  height: 100vh;

  &-Title {
    width: 100%;
    text-align: right;
    color: var(--SOCIAL--Color-Text-Main);
  }

  &-TabButtons {
    @include flex();
    padding: rem(30) 0;
    margin-bottom: rem(30);
    border-bottom: rem(1) solid var(--SOCIAL--Color-Text-System);

    & > * {
      flex: 1 1 auto;
      text-align: center;
      color: var(--SOCIAL--Color-Text-System);
      cursor: pointer;

      &[data-active="true"] {
        color: var(--SOCIAL--Color-Text-Main);
      }
    }
  }

  &-FiltersContainer {
    @include flex($justify: space-between);
    width: 100%;
    margin: rem(10) 0;
    padding: 0 rem(10);
  }

  &-FiltersRow {
    //width: 100%;
  }

  &-FiltersSwitcher {
    @include flex();
  }

  &-RadioInput {
    display: none;

    &:checked + label {
      background: var(--SOCIAL--Color-Text-System);
    }
  }

  &-RadioLabel {
    padding: rem(3) rem(14);
    color: white;

    cursor: pointer;
    transition: .5s;

    &:not(:last-of-type) {
      border-right: rem(1) solid transparent;
    }
  }

  &-Container {
    @include flex($direction: column);
    margin-top: clamp(1px, 1vh, rem(20));
    height: 80vh;
  }

  &-Photos {
    margin-top: clamp(1px, 1vh, rem(20));
    height: 80vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;


    @include media-1024 {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-768 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
