.Body {
  z-index: 2;
  -webkit-box-shadow:  0 16px 81px 139px hsl(0deg 0% 1%), 0px -100px 53px -34px hsl(0deg 0% 1%) inset;
  -moz-box-shadow:  0 16px 81px 139px hsl(0deg 0% 1%), 0px -100px 53px -34px hsl(0deg 0% 1%) inset;
  box-shadow:  0 16px 81px 139px hsl(0deg 0% 1%), 0px -100px 53px -34px hsl(0deg 0% 1%) inset;
  background: linear-gradient(to bottom,
    hsl(0 0% 1% / 100%) 0%,
    hsl(0 0% 1% / 90%) 100%,
  ),
  url("../../../../public/resources/images/cosmo/stars.webp") no-repeat center / cover fixed;
}
