@use "../../../../public/styles/lib/functions" as *;
@use "../../../../public/styles/lib/mixins" as *;
@import "../App/App.module.scss";

.NavBar {
  @include flex($align-items: center, $justify: center);
  padding: 0 clamp(5px, 6vw, rem(10));
  background: var(--SOCIAL--Background-Card);
  height: 100vh;

  &-Header {
    @include flex($align-items: center, $justify: space-between)
  }

  &-Nav {
    & ul {
      padding: 0;
      margin: 0;

      & li {
        @include flex();
        list-style: none;

        & > * {
          @include flex($align-items: center);
          padding: 0 rem(5);
          margin: rem(5) 0;
          width: 100%;
        }
      }
    }
  }

  &-Icon {
    fill: var(--SOCIAL--Color-Text-Main);
  }

  &-Text {
    margin-left: rem(5);
    color: var(--SOCIAL--Color-Text-Main);
  }

  &-Button {
    & > *:hover {
      background-color: transparent !important;
    }
  }
}
