@use "../../../../../../public/styles/lib/functions" as *;
@use "../../../../../../public/styles/lib/mixins" as *;
@import "../../../App/App.module.scss";

.PhotoCard {
  @include flex();
  background: var(--SOCIAL--Background-Card);
  padding: rem(5);
  margin: rem(1);
  overflow: hidden;

  &-Row {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  &-Photo {
    @include flex($justify: center, $align-items: center);
    height: rem(250);
    width: 100%;
    position: relative;
    z-index: 1;
  }

  &-ButtonsGroup {
    @include flex($direction: column);
    position: absolute;

    background: rgb(139 139 139 / 11%);
    top: 0;
    right: 0;
    width: fit-content;
    margin-left: rem(5);
    transform: translateX(100%);
    transition: transform .5s;

    &[data-hover="true"] {
      transform: translateX(0%);
      transition: transform .5s;
    }

    &[data-open="true"] {
      transform: translateX(0%);
      position: relative;
      flex-direction: row;
      width: 100%;
      transition-delay: .5s;
    }
  }

  &-Button {
    display: flex;
    margin: rem(5);
  }

  &-ButtonIcon {
  }

  &-ButtonText {
    color: var(--SOCIAL--Color-Text-System);
    margin-left: rem(5);
  }


  &-TitleRow {
    position: absolute;
    flex-direction: column;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    transform: translateY(100%);
    transition: transform .5s;

    &[data-hover="true"] {
      transform: translateY(0%);
      transition: transform .5s;
    }

    &[data-open="true"] {
      position: relative;
      transform: translateY(0%);
      transition-delay: .5s;
    }
  }

  &-Title {
    color: var(--SOCIAL--Color-Text-Main);
    margin: rem(5);
  }

  &-Column {
    display: flex;
    flex-direction: column;
  }

  &-Date {
    color: var(--SOCIAL--Color-Text-System);
    padding: rem(5);
    text-align: right;
  }

  &-AuthorBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  &-Subscribe {
    display: inline-flex;
    flex: 0 1 auto;
    background: linear-gradient(to right, #ff3865, #ff7978);
    color: var(--SOCIAL--Color-Text-Main);
    text-shadow: 0 0 rem(4) #ffffffb8;
    padding: rem(5) rem(15);
    width: fit-content;
  }

  &-AuthorRow {
    display: flex;
    align-items: center;
    position: relative;
    margin: rem(10) 0;
  }

  &-AuthorImg {
    width: rem(25);
    height: rem(25);
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }

  &-AuthorName {
    color: var(--SOCIAL--Color-Text-Main);
    justify-self: start;
    flex: 1 1 auto;
    margin-left: rem(10);
  }

  &-Title {
    color: var(--SOCIAL--Color-Text-Main);
    padding: rem(10) 0;
  }

  &-Description {
    color: var(--SOCIAL--Color-Text-Main);
    padding: rem(10) 0;
    max-height: 20%;
    overflow-y: auto;
  }

  &-Modal {
    width: 100vw;
    height: 100vh;
    background-color: var(--SOCIAL--Background-Card) !important;
  }

  &-ModalPhotoContainer {
    position: relative;
    width: 100%;
    height: 60%;
  }
}
