@use "../../../../../../public/styles/lib/functions" as *;
@use "../../../../../../public/styles/lib/mixins" as *;
@import "../../../App/App.module.scss";

.PhotoCard {
  @include flex();
  background: var(--SOCIAL--Background-Card);
  padding: rem(5);
  margin: rem(1);
  overflow: hidden;

  &-Row {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  &-Photo {
    @include flex($justify: center, $align-items: center);
    height: rem(250);
    width: 100%;
    position: relative;
  }

  &-ButtonsGroup {
    @include flex($direction: column);
    position: absolute;

    background: rgb(139 139 139 / 11%);
    top: 0;
    right: 0;
    width: fit-content;
    margin-left: rem(5);
    transform: translateX(100%);
    transition: transform .5s;

    &[data-hover="true"] {
      transform: translateX(0%);
      transition: transform .5s;
    }

    &[data-open="true"] {
      position: relative;
      flex-direction: row;
      width: 100%;
      transition-delay: .5s;
    }
  }

  &-Button {
    display: flex;
    margin: rem(5);
  }

  &-ButtonIcon {
  }

  &-ButtonText {
    color: var(--SOCIAL--Color-Text-System);
    margin-left: rem(5);
  }


  &-TitleRow {
    position: absolute;
    flex-direction: column;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    transform: translateY(100%);
    transition: transform .5s;

    &[data-hover="true"] {
      transform: translateY(0%);
      transition: transform .5s;
    }

    &[data-open="true"] {
      position: relative;
      transition-delay: .5s;
    }
  }

  &-Title {
    color: var(--SOCIAL--Color-Text-Main);
    margin: rem(5);
  }

  &-Column {
    display: flex;
    flex-direction: column;
  }

  &-Date {
    color: var(--SOCIAL--Color-Text-System);
    padding: rem(5);
    text-align: right;
  }

  &-Description {
    width: 100%;
    color: var(--SOCIAL--Color-Text-Main);
    margin: rem(7) 0;
    overflow: hidden;
    font-style: italic;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  &-AuthorRow {
    display: flex;
    align-items: center;
    position: relative;
    margin: rem(10) 0;
  }

  &-AuthorImg {
    width: rem(25);
    height: rem(25);
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }

  &-AuthorName {
    color: var(--SOCIAL--Color-Text-Main);
    justify-self: start;
    flex: 1 1 auto;
    margin-left: rem(10);
  }

  &-Modal {
    width: 100vw;
    height: 100vh;
    background-color: var(--SOCIAL--Background-Card) !important;
  }

  &-ModalPhotoContainer {
    position: relative;
    width: 100%;
    height: 60%;
  }

  &-ChatContainer {
    height: 100%;
    overflow-x: hidden;
    padding: rem(10);
    display: flex;
    flex-direction: column;

    ::-webkit-scrollbar {
      width: rem(0);
      height: rem(0);
    }
  }

  &-ChatFilter {
    width: 100%;
    margin: 0 rem(20);
  }

  &-ChatBox {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  &-ChatBoxColumn {
    display: flex;
    flex-direction: column;
    background: var(--SOCIAL--Background-Card);
  }

  &-ChatAuthorImg {
    width: rem(25);
    height: rem(25);
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
  }

  &-ChatAuthorRow {
    display: flex;
    align-items: center;
    position: relative;
    margin: rem(10) 0;
  }

  &-Chat {
    flex: 0 1 auto;
    margin: rem(0) rem(20) rem(20) rem(20);
    background: #44475299;
    position: relative;
    width: 100%;
    max-width: 90%;
    padding: rem(10);
    border-radius: rem(5);
    color: var(--SOCIAL--Color-Text-Main);
    //&:before {
    //  content: '';
    //  position: absolute;
    //  right: 100%;
    //  top: 50%;
    //  width: rem(10);
    //  height: rem(1);
    //  background: #65baba;
    //}
  }

  &-ChatAuthorName {
    color: var(--SOCIAL--Color-Text-System);
    justify-self: start;
    flex: 1 1 auto;
    margin-left: rem(10);
  }
}
