@use "../../../../../../public/styles/lib/functions" as *;
@use "../../../../../../public/styles/lib/mixins" as *;
@import "../../../App/App.module";

$chatWidth: clamp(200px, 25vw, rem(500));

.ChatContainer {
  background: var(--SOCIAL--Background-Card);
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
  border: rem(1) solid var(--SOCIAL--Color-Text-System);
  border-left: transparent;
  border-bottom: transparent;
  display: grid;
  grid-template-rows: 5% auto 15%;
  color: var(--SOCIAL--Color-Text-Main);
  box-shadow: 0 0 rem(4) var(--SOCIAL--Color-Text-System);

  &-Header {
    @include flex($justify: space-between, $align-items: center);
    width: $chatWidth;
    padding: $componentPadding;
    padding-top: clamp(2px, 3vh, rem(30));
    padding-bottom: clamp(2px, 3vh, rem(30));
    box-shadow: 0 0 rem(4) var(--SOCIAL--Color-Text-System);
  }

  &-Contact {
    @include flex($direction: column);
  }

  &-ContactOnline {
    text-align: center;
    font-style: italic;
    color: var(--SOCIAL--Color-Text-System);
  }

  &-MainContainer {
    @include flex($direction: column);
    overflow-y: auto;
    width: $chatWidth;
    padding: $componentPadding;
    margin-top: rem(20);
  }

  &-Footer {
    @include flex($direction: column);
    width: $chatWidth;
    align-self: center;
    padding: $componentPadding;

  }

  &-FooterFileSmileRow {
    @include flex($justify: flex-end);
    width: 100%;
  }

  &-FooterFile, &-FooterSmile {
    margin: rem(5);
  }

  &-FooterInput {
    @include flex($direction: column);
    width: 100%;
  }

  &-Submit {
    color: var(--SOCIAL--Color-Text-System);

    &--active {
      color: var(--SOCIAL--Color-Text-Main);
    }
  }
}
