@use "../../../../../../public/styles/lib/functions" as *;
@use "../../../../../../public/styles/lib/mixins" as *;
@import "../../../App/App.module.scss";

.Actions {
  @include flex($justify: space-between);
  margin-left: rem(20);

  &-Button {
    @include flex();
    margin: rem(5);
    cursor: pointer;

    &:last-child {
      justify-self: end;
    }
  }

  &-ButtonIcon {
  }

  &-ButtonText {
    color: var(--SOCIAL--Color-Text-System);
    margin-left: rem(5);
  }
}

