@use 'src/client/public/styles/lib/functions' as *;
@use 'src/client/public/styles/lib/mixins' as *;

.SpeedDail {
  &-SpeedDailRow {
    @include flex($justify: center, $align-items: center);
    @include position;

    &--type {
      &_left {
        flex-direction: row-reverse;
      }

      &_top {
        flex-direction: column-reverse;
      }

      &_bottom {
        flex-direction: column;
      }

      &_right {
        flex-direction: row;
      }
    }
  }

  &-SpeedDailItem {
    @include position;
    width: rem(30);
  }

}
