@import '../../../public/styles/functions';
@import '../../../public/styles/mixins';


.IconButton {
  $this: &;
  display: flex;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;

  &--size {

    &_small {
      width: rem(14);
      height: rem(14);
    }

    &_ordinary {
      width: rem(20);
      height: rem(20);
    }

    &_medium {
      min-width: rem(24);
      max-width: rem(70);
      height: rem(24);
    }
  }

  &-Icon {
    width: 100%;
    height: 100%;
  }

  &-IconInContainer {
    width: 100%;
    height: 100%;
    transform: translateX(rem(-50));
    transition: .5s;
  }

  &-IconContainer{
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover #{$this}-IconInContainer{
    transform: translateX(0);
    transition: .5s;
  }
}
