@import '../../../public/styles/lib/functions';
@import '../../../public/styles/lib/mixins';


.IconButton {
  $this: &;
  display: flex;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;

  &--size {

    &_small {
      width: wSize(5, 5, 15);
      height: wSize(5, 5, 15);
    }

    &_ordinary {
      width: wSize(5, 5, 20);
      height: wSize(5, 5, 20);
    }

    &_medium {
      width: wSize(24, 5, 40);
      height: wSize(24, 5, 40);
    }

    &_large {
      width: wSize(40, 15, 60);
      height: wSize(40, 15, 60);
    }

    &_extra {
      width: wSize(40, 15, 80);
      height: wSize(40, 15, 80);
    }
  }

  &-Icon {
    width: 100%;
    height: 100%;
  }

  &-IconInContainer {
    width: 100%;
    height: 100%;
    transform: translateX(rem(-50));
    transition: .5s;
  }

  &-IconContainer {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover #{$this}-IconInContainer {
    transform: translateX(0);
    transition: .5s;
  }
}
