@use "../../../../../../public/styles/lib/functions" as *;
@use "../../../../../../public/styles/lib/mixins" as *;

.Social {
  @include flex($justify: end, $align-items: center);
  @include position($pos: relative);
  height: rem(30);

  &-SocialRow {
    @include flex($justify: center, $align-items: center);
    @include position;

    &--type {
      &_left {
        flex-direction: row-reverse;
      }

      &_top {
        flex-direction: column-reverse;
      }

      &_bottom {
        flex-direction: column;
      }

      &_right {
        flex-direction: row;
      }
    }
  }

  &-SocialItem {
    width: rem(30);
    position: absolute;
  }

  &-SocialLink {
    display: flex;
    width: rem(30);
    height: rem(30);

    & img {
      height: 100%;
    }
  }
}
