@use "../../../../public/styles/lib/functions" as *;
@use "../../../../public/styles/lib/mixins" as *;
@import "../../style.module";

.Header {
  @include wh(100%, rem(800));

  &-Video {
    @include position(0, 0);
    @include wh(100%, 100%);
    object-fit: cover;
    z-index: -1;
  }

  &-Main {
    @include flex($align-items: center);
    width: 100%;
    margin-bottom: 25vh;
  }

  &-Img {
    position: relative;
    width: 20vw;
    height: 100%;
  }

  &-Title {
    @include text(wSize(16, 8, 250), true, 'bold');
    color: var(--Color-Light--80);
  }

  &-Description {
    @include text(wSize(10, 4, 150), true, 'bold');
    color: var(--Color-Light--80);
  }

  &-Bottom {
    margin-bottom: rem(50);
  }
}
