@use "../../../../public/styles/lib/functions" as *;
@use "../../../../public/styles/lib/mixins" as *;
@import "../App/App.module";

.UserMenu {
  grid-area: userMenu;
  @include flex($direction: row-reverse, $align-items: center);

  &-Photo {
    @include flex($justify: center, $align-items: center);
    @include wh(100%, 100%);
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  &-Column {
    @include flex($direction: column, $align-items: center, $justify: center);
    flex: 1 1 auto;
    height: 100%;
  }

  &-Description {
    color: var(--SOCIAL--Color-Text-Main);
    padding: $componentPadding;
    max-height: 20vh;
    overflow-y: auto;
  }

  &-VisitsCount {
    color: var(--SOCIAL--Color-Text-System);
    margin-left: rem(5);
  }

  &-ButtonIcon {
    fill: var(--SOCIAL--Color-Text-System);
    margin-right: rem(10);
  }

  &-UserRow {
    @include flex($direction: column);
  }

  &-UserFIO {
    @include flex(wrap);
  }

  &-UserName {
    background: var(--SOCIAL--Background--Red-Gradient);
    color: var(--SOCIAL--Color-Text-Main);
    padding: 0 rem(15);
  }

  &-Hash {
    color: var(--SOCIAL--Color-Text-System);
    padding: rem(15) 0;
  }

  &-User {
    @include wh(70%, 80%);
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
  }

  &-Actions {
    @include flex($justify: space-around);
    margin-top: wSize(5, 5, 10);

    & > * {
      margin: 0 rem(5);
    }
  }

  &-ButtonTextBox {
    @include flex($direction: column, $align-items: center);
    color: var(--SOCIAL--Color-Text-System);
    cursor: pointer;
    margin: rem(15) 0;
  }
}
