@use "../../../../../../public/styles/lib/functions" as *;
@use "../../../../../../public/styles/lib/mixins" as *;
@import "../../../App/App.module.scss";

.ProfileLayoutWall {
  @include flex($direction: column);
  @include wh(clamp(200px, 80%, rem(700)), 100%);
  padding-right: clamp(5px, 5vw, rem(20));
  align-self: center;

  &-CreateRecord {
    @include flex();
    flex: 0 1 auto;
    border: rem(1) solid var(--SOCIAL--Color-Text-System);
    box-shadow: 0 0 rem(7) rem(2) var(--SOCIAL--Background-Card);
    background: var(--SOCIAL--Background-Card-Opacity-02);
    border-radius: rem(15);
  }

  &-Attach {
    @include flex($align-items: center, $justify: center);
    flex: 1 1 auto;
    padding: rem(10);
  }

  &-Input {
    flex: 1 1 100%;
    padding: rem(10);
  }

  &-Smile {
    @include flex($align-items: center, $justify: center);
    flex: 1 1 auto;
    padding: rem(10);
  }

  &-Send {
    @extend %send_message;
    margin: rem(7) 0;

    &--disabled {
      @extend %send_message--disable;
    }
  }

  &-TextInput {
    width: 100%;
    max-height: rem(130);
    border: none;
    resize: none;
    overflow: auto;
    padding: 0;
    background: transparent;
    color: var(--SOCIAL--Color-Text-System);

    &::placeholder {
      color: var(--SOCIAL--Color-Text-System);
    }

    &:focus {
      outline: none;
      color: var(--SOCIAL--Color-Text-Main);
    }
  }

  &-Records {
    @include flex($direction: column);
    width: 100%;
    overflow-y: auto;
    padding: rem(5);
    padding-right: rem(15);
  }
}
