@use 'src/client/public/styles/lib/functions' as *;
@use 'src/client/public/styles/lib/mixins' as *;

.Base {
  position: relative;
  width: 100%;

  &-Img {
    @include position(0, 0);
    width: 100%;
    z-index: -1;
  }
}

.SectionChange {
  &--type {
    &_horizontal {
      @include flex();
      overflow: hidden;
      overflow-x: auto;
    }

    &_vertical {
      @include flex($direction: column);
      overflow: hidden;
      overflow-y: auto;
    }
  }
}
