@use "../../../../../../public/styles/lib/functions" as *;
@use "../../../../../../public/styles/lib/mixins" as *;
@import "../../../App/App.module.scss";

.MainInfo {
  @include flex($direction: column);

  &-Header {
    @include flex($align-items: center, $justify: space-between);
    margin: rem(10) 0;
  }

  &-UsersInf {
    @include flex($align-items: center)
  }

  &-AuthorName {
    color: var(--SOCIAL--Color-Text-Main);
    background: linear-gradient(to right, #ff3865, #ff7978);
    text-shadow: 0 0 rem(4) #ffffffb8;
    padding: rem(2) rem(5);
  }

  &-Date {
    color: var(--SOCIAL--Color-Text-System);
  }

  &-For {
    color: var(--SOCIAL--Color-Text-System);
    margin: 0 rem(5);
    font-style: italic;
  }

  &-ForUser {
    color: var(--SOCIAL--Color-Text-System);
  }

  &-UserComment {
    flex: 0 1 auto;
    margin: rem(0) rem(0) rem(0) rem(20);
    position: relative;
    width: 97%;
    color: var(--SOCIAL--Color-Text-Main);
    background: var(--SOCIAL--Background-Chat-Message);
    padding: rem(10);

    &--type {
      &_answer {
        font-style: italic;
      }
    }
  }
}
