@use "src/client/public/styles/lib/functions" as *;
@use "src/client/public/styles/lib/mixins";

.MySkills {
  @include mixins.flex($justify: flex-end);
  width: 100%;
  z-index: 3;

  &-Mesh {
    @include mixins.flex($justify: center);
    width: rem(427);
    height: rem(343);
  }
}
