@use "../../../../../../public/styles/lib/functions" as *;
@use "../../../../../../public/styles/lib/mixins" as *;
@import "../../../App/App.module.scss";

.ProfileLayoutAboutMe {
  @include flex($direction: column);
  @include wh(100%, 100%);

  &-Information {
    @include flex($direction: column);
    overflow-y: auto;
    height: 100%;
  }

  &-Description {
    color: var(--SOCIAL--Color-Text-Main);
    padding: rem(15) 0;
    margin: rem(10) 0;
  }
}
