@use "../../../../public/styles/lib/functions" as *;
@use "../../../../public/styles/lib/mixins" as *;
@import "../App/App.module.scss";

.Profile {
  @include flex($direction: column);
  flex: 1 1 auto;
  overflow-y: auto;
  height: 90vh;

  &-Title {
    width: 100%;
    text-align: right;
    color: var(--SOCIAL--Color-Text-Main);
  }

  &-Container {
    @include flex($wrap: wrap, $justify: space-around, $align-content: flex-start);
    flex: 1 1 100%;
    width: 100%;
  }

  &-Card {
    @include flex($direction: column);
    flex: 0 1 auto;
    margin: rem(10);
    width: clamp(12.5rem, 16vw, 25rem);
    height: rem(200);
    overflow: hidden;
    transition: height 1.5s;

    &--active {
      animation-name: card-animate;
      animation-duration: 1.5s;
      animation-fill-mode: both;
      animation-timing-function: linear;
    }

    @include media-768 {
      flex: 1 1 auto;
    }
  }

  &-CardButton {
    @include flex($justify: center, $align-items: center);
    background: var(--SOCIAL--Background-Card);
    border-radius: $borderRadiusCard;
    padding: $componentPadding;

    width: 100%;
    height: 100%;

    &--active {
      @include flex($justify: start);
      height: fit-content;
      transition: 1s;
    }
  }

  &-CardTitle {
    color: var(--SOCIAL--Color-Text-Main);
  }

  &-ContentContainer {
    width: 100%;
    margin-top: rem(10);
    opacity: 0;
    height: 0;

    &--active {
      animation-name: content_container-animate;
      animation-duration: 1.5s;
      animation-fill-mode: both;
      animation-timing-function: ease;
      animation-delay: 1.5s;
    }
  }
}

@keyframes card-animate {
  0% {
    height: rem(180);
    width: clamp(12.5rem, 16vw, 25rem);
    order: -1;
  }
  100% {
    width: 100%;
    height: auto;
    order: -1;
  }
}

@keyframes content_container-animate {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    border-bottom: rem(1) solid var(--SOCIAL--Background-Card);
    padding: $componentPadding;
    height: fit-content;
    opacity: 1;
  }
}
