@use "../../../../public/styles/lib/functions" as *;
@use "../../../../public/styles/lib/mixins" as *;
@import "../App/App.module.scss";

.Profile {
  @include flex($direction: column);
  flex: 1 1 auto;
  overflow-y: auto;
  height: 90vh;

  &-Title {
    width: 100%;
    text-align: right;
    color: var(--SOCIAL--Color-Text-Main);
  }

  &-Container {
    @include flex($wrap: wrap, $justify: space-around, $align-content: flex-start);
    flex: 1 1 100%;
    width: 100%;
  }
}
